@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --color-main: rgb(61, 153, 240);
    --color-sub: #fddb43;
    --color-sub2:#e0bfff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}

/*-------------------네비메뉴---------------*/
.navbar {
    width: 100%;
    box-shadow: 0px 0px 8px rgb(187, 187, 187);
    /* background-color: rgb(224, 109, 68); */
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
    /* 비행기로고 사이즈 */
    font-size: 25px;
    color: var(--color-sub);
    padding: 15px;
}

.nav_logo a {
    text-decoration: none;
    color: var(--color-main);
    font-size: 30px;
    font-weight: bold;
    padding: 0 8px
}

.nav_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_menu a {
    width:100%;
    padding: 0;
    text-decoration: none;
    color: var(--color-main);
    font-size: 20px;
    font-weight: bold;
}
.nav_menu a:hover {
    background-color: var(--color-sub);
    border-radius: 10px;
}
li {
    width: 100%;
    padding: 8px 12px;
}


.nav_icon {
    position: absolute;
    right: 18px;
    font-size: 28px;
    color: var(--color-sub);
    padding-top: 13px;
    display: none;
}

.busan_map {
    max-width: 100%;
    height: auto;
    display: none;
}

/*--------------------메인화면 테이블---------------------*/
.table_wrap{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.table_wrap table{
    width: 100%;
    border-collapse: collapse;
    color: rgb(80, 80, 80);
    font-size: 14px;
}
.table_wrap table th,td{
    width:50px;
    height: 35px;
    /* border: 1px solid rgb(199, 199, 199); */
    text-align: center;
    padding:1px;
}
.table_wrap table th p{
    width: 28px;
    margin: 0 auto;
    padding: 2px 0;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
.name{
    margin: 0;
    margin-right: 10px;
    padding: 2px 1px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}
.Klaus hr{border: 9px solid #88d9ff; border-radius: 10px;}
.Heidi hr{border: 9px solid #e0bfff; border-radius: 10px;}
.Bosse hr{border: 9px solid #ffcbcb; border-radius: 10px;}
.Torben hr{border: 9px solid #fff12d; border-radius: 10px;}
.Eva hr{border: 9px solid #fdb4e7; border-radius: 10px;}
.Mirja hr{border: 9px solid #beff81; border-radius: 10px;}
.Jaeya hr{border: 9px solid #ffd781; border-radius: 10px;}
.Bjarne hr{border: 9px solid #a3c79e; border-radius: 10px;}
.schedule{
    font-size: 14px;
    background-color: #ff58abc2;
    border-radius: 10px;
    color: rgb(247, 247, 247);
}

/*----------경주 글씨크기 변경부분----------*/

.normalSize{
    display: block;
}
.smallSize{
    display: none;
}

/*---------------비행기 시간 표---------------*/
.flight{
    width:100%;
}
.flight table{
    margin: 20px auto;
    width: 35%;
    border-collapse: collapse;
}

.flight table td{
    height: 50px;
    color: rgb(63, 63, 63);
}
.flight table th{
    height: 32px;
    font-size:16px;
    color: rgb(75, 75, 75);
}
.flight table tr{
    border-bottom: 2px solid white;
}
.flight table tr td:first-child{
    width: 30%;
    font-size: 14px;
    background-color: #ffe9ae;
}
.flight table tr td:nth-child(2){
    font-size: 14px;
    background-color: rgb(231, 231, 231);
}

.flight table i{
    color: rgb(255, 196, 0);
}



/*---------------------팁-------------------*/

.service{
    width: 1000px;
    margin: 0 auto;
}
.service_item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}
.service_img{
    width: 400px;
}
.service_text{
    width: 600px;
}

.service_item h2{
    color: rgb(82, 82, 82);
    margin: 20px 0;
}
.service_item p{
    line-height: 1.6;
    font-size: 18px;
    color: rgb(82, 82, 82);
}
.service_text a{
    color: rgba(250, 185, 6, 0.993);
    margin: 2px 0;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}





/*---------------------추천장소 / 지도맵--------------------*/

.korea_map{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    width: 800px;
}

.korea_map img{
    width: 50%;
}
.korea_sub{
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 50px;
}

.korea_sub_text h3{
    color: rgb(0, 132, 255);
    font-size: 40px;
    margin: 30px 0;
}
.korea_sub_text p{
    font-size: 18px;
    margin: 0 auto;
    color: rgb(63, 63, 63);
    line-height: 1.4;
}
.korea_sub_text p:nth-child(3){
    padding-top: 30px;
    font-size: 17px;
}
.korea_city{
    padding: 5px;
    border-radius: 10px;
    color: rgb(42, 134, 255);
    font-weight: bold;
    position: absolute;
    font-size: 22px;
    text-shadow: 2px 2px 1px rgb(255, 224, 46);

}

.seoul{
    top: 110px;
    left: 505px;
}
.busan{
    top: 395px;
    left: 640px;
}
.gyeongju{
    top: 305px;
    left: 625px;
}

/*---------------------추천장소 / 카드--------------------*/
.city {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 55px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--color-main);
}

.city h2 {
    width: 320px;
    display: inline-block;
    margin: 0;
    background-color: var(--color-sub);
    padding: 0;
    border-radius: 15px;
}
.gyeongju h2{
    width: 450px;
    padding: 8px 0;
}

.content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: 350px;
    height: 430px; 
    margin: 25px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(121, 121, 121);
}
.card_img{
    width: 100%;
    height: 55%;
    position: relative;
}
.card img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.card_text{
    width: 100%;
    height: 45%;
    position: relative;
}

.card_text h2 {
    margin: 10px 0 0;
    padding-left: 10px;
    color: rgb(75, 75, 75);
}
.card_text p,a{
    margin: 0;
    padding: 10px 10px 0 10px;
    color: rgb(77, 77, 77);
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}
.card_text a{
    display: inline-block;
    text-decoration: none;
    color: rgb(238, 185, 10);
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    right: 5px;
    bottom: 20px;
    font-size: 15px;
}

.busanpass {
    text-decoration: none;
    font-size: 13px;
    color: rgb(250, 49, 49);
    width: 88px;
    padding: 4px 7px 1px;
    background-color: gold;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 120, 71);
}

/*------------------------위치----------------------*/
.map_wrap{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map_text{
    justify-content: center;
    text-align: center;
    width: 400px;
}
.map_text h2{
    color: var(--color-main);
    padding: 15px;
    text-decoration: underline var(--color-sub);
    text-decoration-thickness: 3px;
    text-underline-offset:6px;
}

.map_text p{
    color: rgb(105, 105, 105);
    line-height: 1.5;
}
.map_text p:nth-child(2){
    font-weight: bold;
}






/*------------------미디어 쿼리-----------------------*/

@media screen and (max-width: 1279px) {
    .navbar {
        width: 100%;
    }
    .wrap {
        width: 790px;
    }
    .nav_menu li a {
        font-size: 18px;
    }
    

    /*----------경주 글씨크기 변경부분----------*/

    .normalSize{
        display: block;
    }
    .smallSize{
        display: none;
    }

  
  
    /*---------------비행기 시간 표---------------*/
    .flight table{
        width: 57%;
    }
    .flight table tr td:first-child{
        width: 30%;
        font-size: 14px;
    }




    /*---------------Trip 메뉴----------------*/
    .content {
        width: 870px;
    }

    .korea_map{
    width: 750px;
    }
    .korea_sub{
        padding-right: 35px; 
    }
    .korea_sub_text{
        width: 100%;
    }
    
    .korea_sub_text h3{
        font-size: 32px;
        margin: 20px 0;
  
    }
    .korea_sub_text p{
        font-size: 18px;
        margin: 0 auto;
        color: rgb(63, 63, 63);
        line-height: 1.4;
    }
    .korea_sub_text p:nth-child(3){
        padding-top: 20px;
        font-size: 17px;
    }
    .korea_city{
        padding: 5px;
        font-size: 20px;
    }

    .seoul{
        top: 100px;
        left: 470px;
    }
    .busan{
        top: 370px;
        left: 600px;
    }
    .gyeongju{
        top: 290px;
        left: 590px;
    }

    .card {
        width: 270px;
        margin: 10px;
        height: 470px;
    }

    .busanpass {
        font-size: 12px;
        width: 82px;
        right: 10px;
    }

    /*글씨체가 큰 것들만*/
    .card:nth-child(2) h2,
    .card:nth-child(4) h2 {
        font-size: 15px;
        padding-top: 3px;
    }

    .card_text h2 {
        padding-top: 3px;
        font-size: 17px;
    }
    .table_wrap{
        width: 750px;
        display: flex;
        justify-content: center;
    }
    .table_wrap table{
        width: 750px;
    }
    .name{
        padding: 2px 8px;
    }

    .service{
        width: 780px;
        margin: 0 auto;
    }
    .service_item{
        padding: 30px;
    }
    .service_img{
        width: 288px;
    }
    .service_text{
        width: 432px;
    }

    .map_wrap{
        width: 800px;
    }
    .map_text{
        width: 350px;
    }
    .map_text h2{
        padding: 15px;
        font-size: 22px;
    }
    .map_text p{
        color: rgb(105, 105, 105);
        line-height: 1.5;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    .wrap {
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .table_wrap table{
        font-size: 12px;
    }

    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav_logo {
        font-size: 20px;
    }

    .nav_logo a {
        font-size: 22px;
    }

    li {
        width: 100%;
        text-align: center;
    }

    .nav_menu li a {
        padding: 0 20px;
    }

    .nav_icon {
        display: block;
    }

    .nav_menu.active {
        display: flex;
    }

    /*----------인덱스----------*/

    .normalSize{
        display: none;
    }
    .smallSize{
        display: block;
        font-size: 12px;
    }

    /*---------------비행기 시간 표---------------*/
    .flight table{
        margin: 20px auto;
        width: 90%;
    }
    .flight table tr td:first-child{
        width: 20%;
        font-size: 14px;
    }



    .busan_map{
        margin: 0 auto;
        width:400px;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .korea_map{
        width: 450px;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .korea_sub{
        width: 440px;
        margin: 0 auto;
        padding-right: 0px;
        padding-left: 0px;
    }
    .korea_map img{
        width: 300px;
        margin:0 auto;
        margin-top: 20px;
    }
    
    .korea_sub_text h3{
        font-size: 30px;
        margin: 20px 0;
    }
    .korea_sub_text p{
        font-size: 17px;
        margin: 0 auto;
        color: rgb(63, 63, 63);
        line-height: 1.4;
    }
    .korea_sub_text p:nth-child(3){
        padding-top: 20px;
        font-size: 16px;
    }
    .korea_city{
        padding: 5px;
        font-size: 20px;
    }

    .seoul{
        top: 335px;
        left: 150px;
    }
    .busan{
        top: 550px;
        left: 230px;
    }
    .gyeongju{
        top: 485px;
        left: 220px;
    }

    /*-----------지역추천--------------*/

    .city {
        width: 100%;
        font-size: 40px;
    }

    .gyeongju h2{
        width: 360px;
    }

    .content {
        width: auto;
    }

    .card {
        width: 320px;
        height: 430px;
        margin: 15px;
    }
    .busanpass {
        font-size: 13px;
        width: 88px;
    }
    .card:nth-child(2) h2,/*글씨체가 큰 것들만*/ 
    .card:nth-child(4) h2 {
        font-size: 20px;
        padding-top: 3px;
    }
    .card_text h2 {
        padding-top: 0px;
        font-size: 24px;
    }
    .table_wrap{
        width: 360px;
        display: flex;
        justify-content: center;
    }
    .table_wrap table{
        width: 360px;
    }
    .table_wrap table th p{ /*날짜*/
        width: 20px;
        font-size: 12px;
    }
    .name{
        margin-right: 5px;
        font-size: 14px;
        padding: 2px 5px;
    }
    .schedule{
        font-size: 5px;
    }

    /*----------------팁-----------------*/

    .service{
        width: auto;
    }
    .service_item{
        flex-wrap: wrap;
        margin: 60px 0;
        padding: 20px;
    }
    .service_text{
        width: 380px;
    }
    .service_img{
        width: 340px;
    }
    /*
    .service_item img:nth-child(2){
        height: 220px;
    }*/
    .service_item h2{
        margin: 20px 0;
        font-size: 23px;
    }
    .service_item p{
        line-height: 1.6;
        font-size: 18px;
        color: rgb(82, 82, 82);
    }
    .service_text a{
        margin: 10px 0;
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
    }

    /*---------------지도----------------*/

    .map_wrap{
        flex-wrap: wrap;
        width: auto;
    }
    .map_text{
        width: 390px;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .map_wrap iframe{
        width: 500px;
        height: 250px;
        margin: 30px 0;
    }
    .map_text h2{
        font-size: 22px;
        background-color: var(--color-sub);
        padding: 7px 0;
        width: 330px;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
    .map_text p{
        line-height: 1.5;
        padding: 5px 0;
    }

    
}